{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<style>
    * {
      box-sizing: border-box;
    }
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

    <style>
        /* Style the body */
        body {
          font-family: Arial;
          margin: 0;
        }
        
        /* Header/Logo Title */
        .header {
          padding: 10px;
          text-align: center;
          background: #000000;
          color: white;
          font-size: 15px;
        }
        
        /* Page Content */
        .content {padding:20px;}
        </style>
        </head>
        <body>
        
        <div class="header">
          <h1>About Us</h1>
        </div>
        

<div class="row">
  <div class="column" style="background-color:#ff8e8e;">
    <h2>What is ThinkEat?</h2>
    <p>Now this is the story all about how, my life got flip turned upside down.
      Now I'd like to take a minute and sit right here and tell you how I became the prince
      of a town called bel air.
      In west philadpehia born and raised on the playground is where I spent most
      of my days, relaxing ...., when a couple of guys who were up to no good, started making
      trouble in my neighborhood, I got in one little fight and my mom got scared
      she said you moving with your auntie and uncle in bel air. I begged and pleaded
      with her every day, but she packed my suitcase and sent me on my way. she gave me a kiss
      and handed me my ticket, i put my walkman on and said I might as well kick it. First class 
      yo this is bad drinking orange juice out a chanpagne glass. is this what th epeople of bel air live like
      hmmmm, this might be alright. Ok I don't remmebr the rest but cmon this is impressive isn't it
      plus I was able to test how I should type out these very long paragraphS. i wonder if Bryce behind
      me is still working on physical welness, I hope this is enought to be beyond the end.

    </p>
  </div>
  <div class="column" style="background-color:#ff8e7e;">
    <h2>Picture</h2>
    <p><img src = 'https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/01/22/12/dinner-table.jpg' width="400" 
      height="300"></p>
  </div>
</div>

{% endblock %}
